* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.logo{
    width: 225px;
    height: 100px;
}

.barra-rrss{
    background-color: #1a1a1a;
    color: white;
    font-size: 13px;
    padding: 10px 0;
}

.social-icons span {
    margin-right: 15px;
    cursor: pointer;
}

.top-links a, .top-links span {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

/* --- MENÚ NAVEGACIÓN --- */
.main-nav {
    background-color: rgb(3, 4, 83);
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo img {
    height: 50px; /* Ajusta según tu imagen */
}

.menu-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-links li {
    margin-left: 20px;
}

.menu-links a {
    text-decoration: none;
    color: #e8e8e8;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.menu-links a:hover {
    color: #f1c40f; /* Color amarillo al pasar el mouse */
    
}

.ofertas {
    display: flex;
    align-items: center;
}

img{
    width: 100%;
    height: 600px;
}

h1{
    color: aqua;
}

.ejemplos{
   
        display: flex;
        gap: 5px;
        img{
            width: 50%;
             border: 2px solid black;
        }
        padding: 2px;
       

}
.salones-section {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Contenedor del título con el texto de fondo */
.header-container {
    position: relative;
    margin-bottom: 40px;
}

.bg-text {
    font-size: 80px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.03); /* Color muy tenue */
    letter-spacing: 5px;
    text-transform: uppercase;
    font-style: italic;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    letter-spacing: 2px;
    margin: 0;
    color: #333;
}

.underline {
    width: 150px;
    height: 3px;
    background-color: #f1c40f; /* Color amarillo/dorado */
    margin: 10px auto;
}

/* Párrafos */
.content-container {
    max-width: 800px;
    margin: 0 auto 50px auto;
}

.content-container p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 16px;
}

/* Imagen inferior */
.image-container img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: block;
    margin: 0 auto;
}
    
    


