* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.logo{
    width: 225px;
    height: 100px;
}

.barra-rrss{
    background-color: #1a1a1a;
    color: white;
    font-size: 13px;
    padding: 10px 0;
}

.social-icons span {
    margin-right: 15px;
    cursor: pointer;
}

.top-links a, .top-links span {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

/* --- MENÚ NAVEGACIÓN --- */
.main-nav {
    background-color: rgb(3, 4, 83);
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo img {
    height: 50px; /* Ajusta según tu imagen */
}

.menu-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-links li {
    margin-left: 20px;
}

.menu-links a {
    text-decoration: none;
    color: #e8e8e8;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.menu-links a:hover {
    color: #f1c40f; /* Color amarillo al pasar el mouse */
    
}

.ofertas {
    display: flex;
    align-items: center;
}

.imglogo{
    width: 100%;
    height: 600px;
}

h1{
    color: aqua;
}


.contenedorr {
  display: flex;
  gap: 20px;
  max-width: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.card {
  background: white;
  width: 50%;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  overflow: hidden;
}


.image-box {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  border-radius: 10px;
  
}

.overlay-text h2 {
  font-size: 2.5rem;
  line-height: 0.9;
  margin: 0;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.price {
  font-size: 6rem;
  font-weight: bold;
  margin: 10px 0;
  position: relative;
}

/* Contenido de texto inferior */
.content {
  padding: 25px;
}

.content h3 {
  font-size: 1.2rem;
  color: #333;
  margin-top: 0;
  text-transform: uppercase;
}

.meta {
  font-size: 0.85rem;
  color: #666;
  margin-bottom: 15px;
}

.meta span {
  margin-right: 15px;
}

.content p {
  color: #555;
  line-height: 1.5;
  font-size: 0.95rem;
  margin-bottom: 25px;
}


.btn {
  background-color: #ffdf00;
  color: #333;
  text-decoration: none;
  padding: 10px ;
  border-radius: 4px;
  font-weight: bold;
  float: right;
  transition: background 0.3s;
  margin-bottom: 20px;
  width: 150px;
  
}

.btn:hover {
  background-color: #f0d000;
  
}

/* Ajustes específicos para la promo de Color */
.color-promo span {
  letter-spacing: 5px;
}